@using ASP.NetMVC_Tutorial.Models
@model List<Movie>
@{
    ViewBag.Title = "Index";
}

<h3>Movies</h3>
<p>
    @Html.ActionLink("NEW MOVIE", "MovieForm", "Movies", new { @class = "btn btn-primary"})
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                <td>@Html.DisplayFor(modelItem=>movie.Genre.Name)</td>
            </tr>
        }
    </tbody>
</table>

