@using ASP.NetMVC_Tutorial.Models
@model List<Customer>
@{
    ViewBag.Title = "Index";
}

<h3>Customers</h3>
<p>
    @Html.ActionLink("NEW CUSTOMER", "CustomerForm", "Movies", new { @class = "btn btn-primary" })
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Customers</th>
            <th>Discount Rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
    </tbody>
</table>